@import url('./reset.css');

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: white;
}



/* main assets */

section {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}


h1 {
    font-size: 41px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 29px;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
}

/* 
    main container
      - flex container
      - left container
      - right container
*/

header, .left_container, footer {
    padding-left: 24px;
    padding-right: 24px;
} 


.left_container {
    width: 60%;
}

.right_container {
    /* nothing */
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
}


/* 
    switch
*/

.desktop {
    display: block;
}

.mobile {
    display: none;
}


/* header */


header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

header .desktop nav a {
    margin-left: 16px;
}

header .mobile {
    width: 100%;
}

header .mobile nav {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  banner  */

#banner {
    background-color: rgb(197, 197, 197);
}

#banner .right_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_text {
    min-height: auto;
    width: 100%;
    padding: 0 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: left;
}



.btn {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: gray;
}



/* information */

#information .left_container .side_text {
    padding: 0;
}

#information .right_container {
    width: 40%;
}


/* side boxes */
.side_box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
}

.side_box:last-child {
    background-color: beige;
}

.side_box .side_img {
    width: 35%;
    padding-left: 16px;
    padding-right: 16px;
}


.side_box .side_img img {
    min-width: 100%;
}

.side_box .side_box_content {
    width: 65%;
    display: flex;
    align-items: center;
}


/* learning  */

#learning {
    height: auto;
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
    flex-direction: column;
    align-items: space-around;
}

.image_grid {
    flex-direction: row;
    justify-content: space-around;
}

/* #learning .image_grid .img_box {
    width: 30%;
} */


/*
    img box
*/

.img_box {
    padding: 20px 0px;
}


/* course link */

.course_link {
    width: 100%;
    padding-top: 16px;
    display: inline-flex;
    justify-content: stretch;
    align-items: space-around;
}

.course_link .btn {
    text-align: left;
    padding: 16px 0 24px 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* exhibit */

#exhibit {
    flex-direction: column;
}

#title_container {
    text-align: center;
}


#exhibit .left_container video {
    width: 100%;
    display: block;
}

#exhibit .right_container {
    width: 40%;
}

/*  footer */

footer {
    height: 64px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid gray;
}

footer * {
    padding-top: 16px;
}

footer p {
    font-size: 16px;
}


@media only screen and (max-width: 876px) {

    .logo {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    #banner {
        padding: 0;
    }

    .left_container, .right_container, .side_img, .side_box_content  {
        min-width: 100%;
        padding: 0;
    }
    
    #learning {
        padding-left: 24px;
        padding-right: 24px;
    }

    footer p:last-child {
        display: none;
    }

}

